{% extends 'base.html' %}
{% block content %}
<div class="payment-content" >
    <h1>Waiting for verification...</h1>
    <div>
        <p>Order: <span id="order-id"></span></p>
    </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}

{% block scripts %}
<script>
fetch("/arduino/{{ order_total }}")
    .then(response => response.json())
    .then(idData => {
        if (idData[valid]) {
            // Generate and display the order ID
            const orderID = generateOrderID();
            document.getElementById("order-id").textContent = orderID;

            // Redirect to order completion page
            window.location.href = "/complete_transaction";
        } else {
            alert(idData[error]);
            window.location.href = "/order";
        }
    })
    .catch(error => {
        console.error("Error fetching user data:", error);
    });
</script>
{% endblock scripts %}
